body{
  background-color: #5f7681;
}
.container {
  margin: 100px auto;
  height: auto;
  width: auto;
  text-align: center;
}

.nav-item {
  padding: 3px;
  background: rgba(0, 0, 0, 0.01);
  border-radius: 4px;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  background-image: -webkit-linear-gradient(top, #cfdae0, #b5c7cf 50%, #a6bac5 51%, #aec1ca);
  background-image: -moz-linear-gradient(top, #cfdae0, #b5c7cf 50%, #a6bac5 51%, #aec1ca);
  background-image: -o-linear-gradient(top, #cfdae0, #b5c7cf 50%, #a6bac5 51%, #aec1ca);
  background-image: linear-gradient(to bottom, #cfdae0, #b5c7cf 50%, #a6bac5 51%, #aec1ca);
}

.nav-link {
  display: block;
  line-height: 50px;
  width: 300px;
  font-size: 12px;
  color: white;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  background: #8c9da5;
  border: 1px solid;

}
.nav-link:hover {
  border-color: #e3eaed #d3dee3 #cedadf;
  background-image: -webkit-linear-gradient(top, #cfdae0, #b5c7cf 50%, #a6bac5 51%, #aec1ca);
  background-image: -moz-linear-gradient(top, #cfdae0, #b5c7cf 50%, #a6bac5 51%, #aec1ca);
  background-image: -o-linear-gradient(top, #cfdae0, #b5c7cf 50%, #a6bac5 51%, #aec1ca);
  background-image: linear-gradient(to bottom, #cfdae0, #b5c7cf 50%, #a6bac5 51%, #aec1ca);
}

.animals{
    width: 600px;
    text-align: center;
    background-color: #8c9da5;
    margin: 0 auto;
}