<!DOCTYPE html>
{% load static %}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <title>Демо-страница</title>
	<link rel="stylesheet" type="text/css" href="{% static 'news.css' %}"/>
	<script type="text/javascript" src="{% static 'news.js' %}"></script>
</head>
<body>
<div class="home-demo">
  <div class="owl-carousel owl-theme">
    {% for i in all %}
        <div class="slide">
            <img src="{{ i.picture.url }}" >
        </div>
    {% endfor %}
  </div>
</div>
</body>
</html>